<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div class="bg-dark text-white p-2">
        BOOK STORE
    </div>

    <div class="m-1 p-1"> <!--This isn't working I'm pretty sure because of my lack of bootstrap-file -->
        @RenderBody()
    </div>
</body>
</html>
